asgiref==3.11.1
ast_serialize==0.6.0
astroid==4.0.4
black==26.5.1
click==8.4.2
colorama==0.4.6
dill==0.4.1
Django==6.0.7
django-stubs==6.0.7
django-stubs-ext==6.0.7
iniconfig==2.3.0
isort==8.0.1
librt==0.13.0
mccabe==0.7.0
mypy==2.3.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.20.0
pylint==4.0.6
pylint-django==2.8.0
pylint-plugin-utils==0.9.0
pytest==9.1.1
pytest-django==4.12.0
python-dotenv==1.2.2
pytokens==0.4.1
sqlparse==0.5.5
tomlkit==0.15.0
types-PyYAML==6.0.12.20260518
typing_extensions==4.16.0
tzdata==2026.3
