{% extends "_base.html" %}

{% block title %}Статистика рекламных компаний{% endblock %}

{% block content %}
<h2 class="fw-bold">Статистика рекламных компаний</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Кампания</th>
                <th>Лидов</th>
                <th>Активных клиентов</th>
                <th>Доход от контрактов</th>
                <th>Бюджет</th>
                <th>Соотношение доход/бюджет</th>
            </tr>
            </thead>
            <tbody>
            {% for ad in ads %}
            <tr>
                <td>
                    <a href="{% url 'ads:ads-detail' ad.pk %}"
                       class="text-decoration-none link-dark">{{ ad.name }}</a>
                </td>
                <td>{{ ad.leads_count }}</td>
                <td>{{ ad.active_customers_count }}</td>
                <td>{{ ad.total_contract_amount|floatformat:2 }} руб</td>
                <td>{{ ad.budget|floatformat:2 }} руб</td>
                <td>
                    {% if ad.budget > 0 %}
                    	{{ ad.total_contract_amount|floatformat:2 }} / {{ ad.budget|floatformat:2 }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Нет рекламных кампаний.</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}